@charset "utf-8";

@media screen and (min-width:768px) {
    #burg{
        display: none;
    }
    header menu{
        display: block;
    }
    header ul{
        background-color: rgb(68, 68, 68);
        height: 40px;
        line-height: normal;
        padding-top: 25px;
    }
    header li{
        display: inline;
    }
    main{
        max-width: 768px;
        margin: auto;
        margin-top: 30px;
    }
}