@charset "utf-8";

/*estilo para impressoras*/


*{
    padding: 20px;
    margin: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;
}